table {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

table button {
    width: 200px;
    height: 200px;
    background-color: khaki;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 11px;
}

#reiniciar {
    position: fixed;
    margin-top: 5%;
    margin-left: 25%;
    height: 70px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 11px;
    background-color: khaki;
}
